{% extends "basepage.html" %}

{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <h1 class="my-2 text-center">Inventaire</h1>

  {% if form.errors %}
  <div class="col-md-3 mx-auto alert alert-danger" role="alert">
    Nom d'utilisateur et/ou mot de passe incorrect.
  </div>
  {% endif %}

  <div class="col-md-3 mx-auto p-4 bg-dark rounded">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <h3 class="mb-4 text-center text-white">Authentification</h3>
	  <div class="d-grid gap-2">
		<input type="text" name="username" autocapitalize="none" autocomplete="username" class="form-control form-control-lg" placeholder="Utilisateur" required>
		<input type="password" name="password" autocomplete="current-password" class="form-control form-control-lg" placeholder="Mot de passe" required>
		<button type="submit" class="btn btn-primary btn-block btn-lg font-weight-bold">Authentification</button>
	  </div>
    </form>
  </div>

</div>
{% endblock %}
